body{
    background-image: linear-gradient(90deg, rgb(233, 245, 245), grey);
}
.navbar-nav .nav-item .nav-link:active{
    color: dodgerblue;
}
#signInPage{
    display: flex;
    justify-content: center;
    display: none;
}
#signUpPage{
    display: none;
}
/* #home{
    display: none;
} */
#medicinePage{
    display: none;
}
#showMedicineList{
    margin-top: 20px;
    text-align: center;
    background-color: white;
}
#signIn-home{
    display: none;
}
#recharge{
    display: none;
}
#recharge #rechargeMsg{
    color: rgb(4, 172, 4);
}
#signUpPage #registerMsg{
    color: rgb(4, 172, 4);;
}
#showWallet{
    display: none;
    margin: auto;
}
#showWallet #balance{
    color: rgb(163, 50, 9);
    border: 1px solid grey;
    width: fit-content;
}
#orderPage{
    display: none;
    background-color: darkolivegreen;
    color: white;
    margin-top: 20px;
    width: fit-content;
}
#purchasePage{
    display: none;
}
#cancelPage{
    display: none;
}